
.chalkboard {
background:url(../assets/culturesmall.gif) bottom no-repeat;
background-size: cover;
width: 100%;
min-height: 228px;
border-bottom: 20px solid $primary-color-3;

}

.culture-h1 {
@include header-wrapper ($primary-color-3, 300px);
top: -20px;
}

.culture-intro {

	p { 
	margin: 30px auto;
	font-size: 21px;
	}

	blockquote {
	font-family: "freight-micro-pro" "rockwell" "serif";
	font-size: 35px;
	font-weight: 400;
	line-height: 1.6;
	font-style: italic;
	color: $primary-color-3;	
	margin: 30px auto 100px auto;
	max-width: 580px;
	}
}

.events, .holidays, .guides{
	min-height: 350px;
}

.culture-box h4 {
	color: $primary-color-1;
	margin: 50px auto 100px auto;
}


.culture-copy {
	max-height: 350px;
	overflow: hidden;	
	h4 {
	margin-bottom: 30px;
	color: $color-dark;
	} 

	&:last-of-type{
		margin-bottom: 50px;
	}
}

/* Box, h2-wrapper, and double are styled in index.scss page */
