.culture-h1 {
@include header-wrapper ($primary-color-3, 200px);
top: -50px;
}

.culture-intro p { 
@include p-font ($color-dark);
margin: 0 auto 30px auto;
}


.culture-wrapper{
margin-top: 50px;
}
.culture-copy {

h4 {
@include h4-font($color-dark, none);
margin-top: -50px;
margin-bottom: 30px;
}
p {
	margin-bottom: 50px;
}
}

/* Box, h2-wrapper, and double are styled in index.scss page */
