.culture-photo {
	background-color: lighten($primary-color-2, 20%);
	width: 100%;
	min-height: 300px;
}

.culture-header {
	@include header-wrapper ($primary-color-3);
	top: -50px;
	max-width: 200px;
}

.culture-intro p { 
	@include p-font ($color-dark);
	margin: 30px auto;
	max-width: 600px;

}

.culture-box {
		margin-bottom: 30px;
}

.culture-copy{
	margin: -50px 2% 50px 2%;
}
