.newfood {
	margin: 0 auto;
		margin-bottom: 100px;

	.highlight-photo{
		overflow: hidden;
		max-width: 300px;
		margin: 0 auto;

		img {
			width: 100%;
			max-width: 300px;
		}
	}

	h1{
	color: $color-dark;
	margin: 30px auto 0 auto;
	font-size: 40px;
	text-align: left;
	}

	h3 {
	font-family: "freight-micro-pro" "rockwell" "serif";
	color:	$primary-color-1;
	margin: 30px auto;
	text-align: center;
	font-size: 60px;
	}

	h4 {
	max-width: 400px;
	font-size: 35px;
	margin-bottom: 30px;
	}
	
	p {
	margin: 0 auto;
	}

	a {
	color: $color-dark;
		&:hover{
		color: $primary-color-1;
		}
	}
}

.food {
border-top: dotted $color-dark 3px;
border-bottom: dotted $color-dark 3px;
background-color: lighten($primary-color-2, 20%);
padding: 50px 0;
margin: 0 auto;
overflow: hidden;


	h4 {
	max-width: 200px;
	margin-bottom: 30px;
	color: $primary-color-3;
	}

	
	p {
		color: $color-dark;
		margin: 0 auto;
	}
	a {
	color: $color-dark;
	text-decoration: underline;
		&:hover{
		color: $primary-color-1;
		}
	}
}


.labels {
	margin-top: 50px;
}
.tj-label {
display: block;
margin-bottom: 20px;
width: 30%;
margin-left: 3.3333%;
float: left;
text-align: center;
@include p-font;

}

.tj-label:nth-of-type(3n+1){
margin-left: 0;
}

.food-box {
	 margin: 0 auto;
	 max-width: 380px;

 h4 {
	max-width: 344px;
	margin: 100px auto;
	}
}