.newfood {
margin: 0 auto;
margin-bottom: 100px;

	.highlight-photo{
	overflow: hidden;
	max-width: 300px;
	margin: 0 auto;

		img {
		width: 100%;
		max-width: 300px;
		}
	}

	h1{
	color: $primary-color-1;
	margin: 50px auto;
	text-align: center;
	line-height: 1.3;
	font-size: 60px;
	}
	
	p {
	margin: 0 auto;
	}

	a {
	color: $color-dark;

		&:hover{
		color: $primary-color-1;
		}
	}
}

.food {
border-top: dotted $color-dark 5px;
border-bottom: dotted $color-dark 5px;
background-color: lighten($primary-color-2, 20%);
background-clip: padding-box;
padding: 50px 0;
margin: 0 auto;
overflow: hidden;


	h4 {
	max-width: 200px;
	margin-bottom: 30px;
	color: $primary-color-3;
	}

	p {
	color: $color-dark;
	margin: 0 auto;
	}

	a {
	color: $color-dark;
	text-decoration: underline;
		
		&:hover{
		color: $primary-color-1;
		}
	}
}


.labels {
margin-top: 50px;
}

.tj-label {
display: block;
margin-bottom: 20px;
width: 30%;
margin-left: 3.3333%;
float: left;
text-align: center;
@include p-font;
}

.tj-label:nth-of-type(3n+1){
margin-left: 0;
}

.food-box {
 margin: 0 auto;
 max-width: 380px;

	 h4 {
	max-width: 344px;
	margin: 100px auto;
	}
}