header {
background: url(../assets/header_pattern2.png), $primary-color-1;
width: 100%;
padding: 10px 0;
}

.logo {
margin-top: 10px;
margin-bottom: 10px;
float: left; 
display: block;
}

.menu {
@include global-button-style($color-light, $color-dark);
}

.store-button-small {
@include global-button-style($color-dark, $primary-color-2);
}

.store-button-large {
@include button-style($color-light, $primary-color-2);
}



.store-button-large, .store-zip { 
display: none;
}

nav {
background: $color-dark;
}

nav li {
font-family: "hooligan" "candara" "calibri" "sans-serif";
font-size: 30px;
line-height: 1.5;
font-weight: 300;
font-style: normal;
display: none;
}

footer {
clear: both; 
background: url(../assets/footer_pattern.png),  $color-dark;
padding-top: 100px;
padding-bottom: 100px;
	
	button {
	@include button-style($color-light, $primary-color-2);
	margin-top: 20px;
	}

}

.footer-copy {
margin-top: 40px;
margin-bottom: 40px;

	li {
	font-size: 18px;
	list-style-type: none;
	}

}

.newsletter input.email {
@include input-style(180px, 40px);
margin-top: 20px;
}

.newsletter input.zip {
@include input-style(100px, 40px);
margin-top: 20px; 
display: block;
}

.newsletter button {
display: inline-block;
}
