header {
background: url(../assets/header_pattern2.png), $primary-color-1;
width: 100%;
padding: 10px 0;
}

.logo {
margin-top: 10px;
margin-bottom: 10px;
float: left; 
display: block;
}

.menu {
@include global-button-style($color-light, $color-dark);

}

.store-button-small {
@include global-button-style($color-dark, $primary-color-2);

	img {
		margin-right: 10px;
		width: 20px;
		height: 20px;
	}

}

.store-button-large {
@include button-style($color-light, $primary-color-2);	
	img {
		margin-right: 10px;
		width: 20px;
		height: 20px;
	}
}


.store-button-large, .store-zip { 
display: none;
}

nav {
background: darken($color-dark, 5%);
}

nav li {
display: none;
font-family: "freight-micro-pro", candara, calibri, sans-serif;
font-size: 18px;
padding-bottom: 20px;
padding-left: 10px;
line-height: 1.3;
font-weight: 100;
font-style: normal;
transition: 200ms ease color;

	&:first-of-type {
	padding-top: 20px;
	}
}

.sub-nav li {
font-size: 15px;
padding-bottom: 10px;

	&:last-of-type {
	padding-bottom: 20px;
	}

	a {
	color: lighten($primary-color-3, 50%);

	&:hover {
	color: $color-light;
	}

	}
}

footer {
clear: both; 
background: url(../assets/footer_pattern.png), $color-dark;
padding-top: 100px;
padding-bottom: 100px;
}

.transparency {
	line-height: 1.3;
}

.footer-copy {
margin-top: 40px;
margin-bottom: 40px;

	li {
	font-size: 18px;
	list-style-type: none;
	}

}

.newsletter input.email {
@include input-style(150px, 40px);
margin-top: 20px;
}

.newsletter input.zip {
@include input-style(100px, 40px);
margin-top: 20px; 
display: block;
}

.newsletter a{
@include button-style($color-light, $primary-color-2);
margin-top: 20px;
display: inline-block;
}
