/* GLOBAL Index Page */

.fullwidth-photo {
	background-image:url(../assets/mural_small.jpg);
	background-size: cover;
	min-height: 300px;
}

.intro {
	background-color: darken($primary-color-1, 10%);
	padding: 50px 20px;
	margin: 0 auto;

	p {	
	@include p-font($color-light);	
	font-size: 21px;
	margin-top: 50px;
	}
}



.index-box h4 {
	@include h4-font ($color-dark, 400px);
	margin: 50px auto;	
}

.box {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
	height: 300px;
	border-radius: 15px;

}

.box-wrapper:first-of-type {
	margin-top: 50px;
}

.h2-wrapper {
	@include header-wrapper ($primary-color-1, 250px);
	background-color: darken($primary-color-1, 10%);
	top: -50px;
}

.h2-wrapper.double{
	top: -100px;
}
