/* GLOBAL Index Page */

.mural {
	background-image:url(../assets/mural_small.jpg);
	background-size: cover;
	min-height: 300px;
}

.intro {
	background-color: darken($primary-color-1, 12%);
	padding: 30px;
	margin: 0 auto;

	p {	
	@include p-font($color-light);	
	font-size: 23px;
	margin-top: 50px;
	}
}

.index-boxes h4 {
	@include h4-font ($color-dark, 400px);
	margin: 50px auto;
}

.box {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
	height: 300px;
	background-color: $color-dark;
}

.box-wrapper:first-of-type {
	margin-top: 50px;
}

.h2-wrapper {
	@include header-wrapper ($primary-color-1);
	top: -50px;
}

.h2-wrapper.double{
	top: -100px;
}
