
@media screen and (min-width: 38em) {


/* 38em Header/Nav */
	
.logo {
margin-top: 20px;
}

.store-button-small, .menu {
display: none;
}
	
.store {
float: right;
}

.store-button-large {
@include button-style($color-light, $primary-color-2);
margin-top: 10px;
margin-bottom: 10px;
display: inline-block;
}

nav {
padding-top: 15px;
padding-bottom: 20px;
background: $color-dark;

	ul{
	max-width: 550px;
	display: inline-block;
	}

	li {
	display: inline-block;
	margin-left: 40px;
	font-family: "hooligan" "candara" "calibri" "sans-serif";
	font-size: 30px;
	padding: 0;
	font-style: normal;
	color: $primary-color-3;
	transition: 200ms ease color;

		&:hover {
		color: $color-light;
		}

		&:first-of-type {
		margin-left: 0;
		padding-top: 0;
		}
	}
}

.sub-nav {
max-width: 458px;
}

.sub-nav li{
margin-top: 20px;
margin-left: 15px;
font-family: "freight-micro-pro" "candara" "calibri" "sans-serif";
font-size: 18px;
padding: 0;

	&:last-of-type {
	padding-bottom: 0;
	}

	&:first-of-type {
	margin-left: 0;
	}
}


/* 38em full width photos */

.fullwidth-photo {
background-image:url(../assets/mural_medium.jpg);
min-height: 360px;
border-bottom: 20px solid $primary-color-3;
}

.intro {
top: -100px;
border-radius: 10px;
max-width: 570px;
padding: 30px 10px 50px 10px;
}

.index-box	h4 {
margin: 0 auto 100px auto;	
}


/* 38em Boxes */

.index-box, .food-box {
max-width: 750px;
}

.box-wrapper {
width: 46%;
float: left;
margin-left: 6%;
}

.box-wrapper:first-of-type {
margin-top: 0;
}

.box-wrapper:nth-of-type(odd)  {
margin-left: 0;
}

/* 38em Story */

.story {
overflow: hidden;
margin: 60px auto 0 auto;

	.highlight-photo{
	max-width: 360px;
	margin: 0 auto;

		img {
			border-radius: 15px;

			&:nth-of-type(1){ 
			display: none;
			}

			&:nth-of-type(2){ 
			display: inline-block;
			}
		}	
	}

	.highlight-header {
	max-width:250px;
	}
	
	h1 {
	font-size: 65px;
	}

	p {
	margin: 0 auto;
	}
}

.story-value {
	blockquote {
	max-width: 650px;
	margin: 30px auto;
	}

	ul {
	margin: 0 auto 30px auto;
	}
}

.timeline{
margin-bottom: 100px;
}

.tl-btn{
font-family: "freight-micro-pro" "rockwell" "serif";
font-weight: 600;
font-size: 30px;
outline: none;
width: 25%;
text-align: center;
padding: 30px 0;
background-color: transparent;
color: $primary-color-3;
outline: none;
display: block;
transition: 200ms ease color, 200ms ease border;

	&:hover {
		background-color: transparent;
		color: $primary-color-1;
	}
}

.tl-content{
display: none;
max-width: none;
width: 70%;
margin-left: 5%;
position: absolute;
top: 0;
right: 0;
	h4 {
	margin: 0 0 30px 0;
	display: block;
	}
}

.show-hidden {
	display: inline-block;
}

.tester {
	float: none;
}
/* 38em Food */

.newfood {
max-width: 700px;

	h3 {
	margin: 0 0 50px 0;
	}

	.highlight-photo {
	width: 48%;
	float: left;
	margin-left: 2%;
	}

	.highlight-photo:nth-of-type(odd) {
	margin-left: 0;
	}
}

/* 38em Culture */

.chalkboard{
background:url(../assets/culture.gif) center no-repeat;
width: 100%;
background-size: cover;
max-width: none;
min-height: 400px;
}

.culture-h1 {
@include header-wrapper ($primary-color-3, 300px);
top: -50px;

	h1 {
	font-size: 65px;
	}
}


.culture-box{
	overflow: hidden;
	display: block;

	.box-wrapper {
	display: block;
	width: 45%;
	margin-right: 5%;
	margin-bottom: 0;
	float: left;

		h2{
		max-width: 300px;
		}
	}
}

.culture-copy{
width: 50%;
float: left;
margin: 0;

	h4 {
	margin: 0;
	}
} 


/* 38em Recipes */


.featuredrecipe-photo {
min-height: 450px;
}

.recipe-intro ul {
text-align: left;
}

.recipe-btn {
	display: none;
}
.recipe-nav {
display: block;
width: 28%;
overflow: hidden;
float: left;
}
.recipe-feature {
width: 70%;
float: left;
margin-left: 2%
}

.app2, .bev2, .bfast2, .lunch2, .dinner2, .dessert2 {
display: block;
}

.recipe-box {
max-width: 510px;
}

.recipe-box-wrapper {
width: 47%;
float: left;
}	
.recipe-box-wrapper:nth-of-type(odd)  {
margin-left: 6%;
}
	
.recipe-box-wrapper:nth-of-type(3n+1)  {
margin-left: 0;
}

/* 38em Footer */

.footer-copy {
width: 48%;
float: left;
margin-left: 4%;
}

.footer-copy:nth-of-type(odd) {
margin-left: 0;
}

.newsletter input.zip {
display: inline-block;
margin-left: 2%;
}

} 

