@media screen and (min-width: 60em) {

/* 60em Header/Nav */

.logo-small {
	display: none;
}

.store-zip {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}

nav ul {
	max-width: 700px;
}
nav li {
margin-left: 60px;
}

/* 60em full width photos */

.mural {
background-image:url(../assets/mural_large.jpg);
min-height: 550px;
}


/* 60em Boxes */

.box-wrapper {
	width: 32%;
	float: left;
	margin-left: 2%;
}

.box-wrapper:nth-of-type(odd) {
	margin-left: 2%;
}

.box-wrapper:nth-of-type(3n+1){
	margin-left: 0;
}


/* 60em Story */

.story {
	@include highlight-60em;
}

.story-value {
max-width: 850px;

	// p{
	// width: 45%;
	// float: left;
	// }

	// ul {
	// width: 50%;
	// float: left;
	// margin-left: 5%; 
	// }

}
/* 60em Culture */

.culture-intro p {
margin: 0 0 30px 0;
}

.culture-h1 {
margin-top: 30px;
margin-left: 7.5%; 
}

.culture-box {
width: 30%;
}

.culture-copy{
width: 65%;
} 

/* 60em Footer */

.footer-copy {
	width: 23.5%;
	float: left;
	margin-left: 2%;
}

.footer-copy:nth-of-type(odd) {
	margin-left: 2%;
}

.footer-copy:nth-of-type(1) {
	margin-left:0;
}

}

