/*40ems*/


@media screen and (min-width: 38em) {

/* 38em Header/Nav */

	.logo-small {
		display: none;
	}

	.logo-med {
		display: block;
	}
	
	.store-button-1, .menu {
		display: none;
	}

	.store {
	float: right;

		input {
		@include input-style (150px, 40px);
		}
	}

	.store-button-2 {
	@include button-style($color-dark, $primary-color-2);
	float: right;
	display: inline-block;
	}


	nav li {
		display: inline-block;
		padding-top: 40px;
		padding-bottom: 40px;
		margin-left: 40px;

	}
	
	nav li:first-of-type {
	margin-left: 0;
	}
	
/*
  ========================================
  38em Intro
  ========================================
*/

	h4 {
		margin: 0 auto 70px auto;
		max-width: 400px;

	}

	.intro {
	top: -100px;
	border-radius: 10px;
	max-width: 570px;
	}


	.mural {
	background-image:url(../assets/mural_medium.jpg);
	min-height: 440px;
	}


/* 38em Index-Boxes */

.box-wrapper {
	width: 46%;
	float: left;
	margin-left: 6%;
}

.box-wrapper:first-of-type {
	margin-top: 0;
}

.box-wrapper:nth-of-type(odd) {
	margin-left: 0;
}

/* 38em Footer */

.footer-copy {
	width: 48%;
	float: left;
	margin-left: 4%;
}

.footer-copy:nth-of-type(odd) {
	margin-left: 0;
}

} /*closing tag 38 ems*/

@media screen and (min-width: 60em) {


	.logo-small, .logo-med  {
		display: none;
	}

	.logo-large {
		display: block;
	}
	
	.store-zip {
		display: inline-block;
		margin-right: 20px;
	}

	nav li {
	margin-left: 60px;
	}

	.intro {
	border-radius: 10px;
	max-width: 570px;
	}

	.mural {
	min-height: 650px;
	}

/* 60em Index-Boxes */
.box-wrapper {
	width: 32%;
	float: left;
	margin-left: 2%;
}

.box-wrapper:nth-of-type(odd) {
	margin-left: 2%;
}

.box-wrapper:nth-of-type(3n+1){
	margin-left: 0;
}

/* 60em Footer */

.footer-copy {
	width: 23.5%;
	float: left;
	margin-left: 2%;
}

.footer-copy:nth-of-type(odd) {
	margin-left: 2%;
}

.footer-copy:nth-of-type(1) {
	margin-left:0;
}

}

