@media screen and (min-width: 60em) {

/* 60em Header/Nav */

.logo-small {
display: none;
}

.store-zip {
display: inline-block;
margin: 0 10px 10px 10px;

	input {
	@include input-style(100px, 38px);
	}
}

nav li:last-of-type {
	margin-right: 30px;
}

/* 60em full width photos */

.fullwidth-photo {
background-image:url(../assets/mural_large.jpg);
min-height: 550px;
}


/* 60em Boxes */

.index-box, .food-box {
max-width: 1200px;
}

.box-wrapper {
width: 32%;
float: left;
margin-left: 2%;
}

.box-wrapper:nth-of-type(odd) {
margin-left: 2%;
}

.box-wrapper:nth-of-type(3n+1){
margin-left: 0;
}

.h2-wrapper {
@include header-wrapper ($primary-color-1, 250px);
	
	h2 {
	font-size: 40px;
	}
}

/* 60em Story */

.story {
margin-bottom: 0;

	.split:nth-of-type(1){
	width: 40%;
	float: left;
	margin-left: 5%
	}

	.split:nth-of-type(2){
	width: 40%;
	float: left;
	margin-right: 5%;
	margin-left: 2.5%;
	}

	.container { 
	display: inline-block;
	width: 100%;
	}
}

.story-value {

	h4 {
	margin-top: 50px;
	}

	blockquote {
	max-width: none;	
	}

	.split {
	float: left; 
	width: 48%;

		&:nth-of-type(2){
 		margin-left: 2%;
 		}
	}
}


/* 60em Culture */
.chalkboard {
min-height: 550px;

}
.culture-intro {

	p{
	width: 45%;
		float: left;
	}

	blockquote{
	width: 45%;
	float: left;
	margin-left: 10%;
	margin-top: 70px;
	}
}


.culture-box {
	.box-wrapper {
		width: 30%;
	}

	.culture-copy{
	width: 65%;
	} 
}

/* 60em Food */
.newfood {
max-width: 1200px;

	.highlight-photo {
	width: 23.5%;
	float: left;
	margin-left: 2%;
	}

	.highlight-photo:nth-of-type(3) {
	margin-left: 0;
	}

}

.food-intro {
width: 48%;
float: left;
	
	h4 {
	margin: 0 0 30px 0;
	}

}

.labels {
width: 48%;
float: left;
margin-left: 4%;
}

/* 60em Recipes */

.app3, .bev3, .bfast3, .lunch3, .dinner3, .dessert3 {
display: block;
}

.recipe-box {
max-width: 800px;
}

.recipe-box-wrapper {
width: 30%;
float: left;
margin-left: 5%;
}

.recipe-box-wrapper:nth-of-type(odd) {
margin-left: 5%;
}

.recipe-box-wrapper:nth-of-type(3n+1)  {
margin-left: 0;
}

// .recipe-box-wrapper:nth-of-type(3n) {
// margin-right: 3.333333%;
// }

/* 60em Footer */

.footer-copy {
	width: 23.5%;
	float: left;
	margin-left: 2%;
}

.footer-copy:nth-of-type(odd) {
	margin-left: 2%;
}

.footer-copy:nth-of-type(1) {
	margin-left:0;
}


}