div, header, nav, section, article, aside, footer, figure, button, img, hr, a, li{
  position: relative;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}


h1 {
	font-family: "hooligan" "candara" "calibri" "sans-serif";
  line-height: 1.3;
  font-size: 6.5em;
  font-weight: 400;
  font-style: normal;
  color: $color-light;
  text-align: center;
  display: block;
}

h2 {
  font-family: "hooligan" "candara" "calibri" "sans-serif";
  line-height: 1.3;
  letter-spacing: 2;
  font-size: 4em;
  font-weight: 400;
  font-style: normal;
  color: $color-light;
  text-align: center;
}

h3 {
  font-family: "hooligan" "candara" "calibri" "sans-serif";
  line-height: 1.6;
  font-size: 2.5em;
  font-weight: 400;
  font-style: normal;
  color: $color-light;
}

h4 {
  font-family: "hooligan" "candara" "calibri" "sans-serif";
  line-height: 1.3;
  font-size: 5.5em;
  font-weight: 600;
  font-style: normal;
  margin: 0 auto;
  color: $color-dark;

}

p, ul {
font-family: "freight-micro-pro" "rockwell" "serif";
line-height: 1.6;
font-size: 1.9em;
font-weight:400;
font-style: normal;
max-width: 550px;
color: $color-dark;
}


a {
color: $color-light;
text-decoration: none; 
transition: 200ms color ease;
  &:hover {
  color: lighten($primary-color-3, 10%);
  }
}


