div, header, nav, section, article, aside, footer, figure, button, img, hr, a, li{
  position: relative;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
	@include h1-font ($color-light);
}

h2 {
	@include h2-font($color-light);
}

h3 {
	@include h3-font($color-light);
}

nav li a {
	@include nav-link-style($color-light, $primary-color-3);
}

p, ul {
  @include p-font($color-dark);
}

a {
	@include link-style($color-light, $primary-color-3);
}

.highlight {
@include highlight;
}

