$primary-color-1: #D60D34;
$primary-color-2: #fbf943;
$primary-color-3: #008d9a;
$color-dark: #462D23;
$color-light: #FFFFFF;

@mixin div-bg($bg-color) {
background-color: $bg-color;
width: 100%;
}


@mixin p-font {
font-family: "freight-micro-pro", rockwell, serif;
line-height: 1.6;
font-size: 1.9em;
font-weight:400;
font-style: normal;
max-width: 550px;
color: $color-dark;
}

@mixin blockquote-style {
font-family: "freight-micro-pro", rockwell, serif;
font-size: 27px;
font-weight: 400;
line-height: 1.6;
color: $primary-color-3;  
margin: 30px 0;
display: block;
}

@mixin global-button-style ($color, $background-color){
font-family: "freight-micro-pro", rockwell, serif;
font-size: 1.4em;
font-weight: 400;
font-style: normal;
line-height: 1;
text-transform: uppercase;
letter-spacing: .1em;
text-align: center;
padding: 14px;
color: $color;
border-radius: 10px;
background-color: $background-color;
outline: none;
width: 100%;
text-align: left;
padding: 15px;
padding-left: 7.5%;
border-radius: 0;

  &:hover{
  background-color: darken($background-color, 10%);
  }
}


@mixin button-style ($color, $color-hover){
font-family: "freight-micro-pro", rockwell, serif;
font-weight: 300;
font-size: 1.4em;
text-align: center;
text-transform: uppercase;
letter-spacing: .1em;
padding: 10px;
color: $color;
border-radius: 5px;
background-color: transparent;
border: $color solid 2px;
outline: none;
transition: 200ms ease color, 200ms ease border;

  &:hover{
  color: darken($color-hover, 10%);
  border: darken($color-hover, 10%) solid 2px;
  }
}

@mixin input-style ($width, $height){
font-family: "freight-micro-pro", rockwell, serif;
padding: 5px;
padding-left:10px;
font-size: 1.4em;
font-weight: 400;
outline: none;
border-radius: 5px;
color: #999999;
border: none;
width: $width;
height: $height;
}

@mixin header-wrapper($color, $max-width) {
background-color: $color;
max-width: $max-width;
padding: 10px;
border-radius: 10px;
margin: 0 auto;
}


div, header, nav, section, article, aside, figure, button, img, hr, a, li{
  position: relative;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.container{
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}


h1 {
	font-family: "hooligan", candara, calibri, sans-serif;
  line-height: 1.3;
  font-size: 6.5em;
  font-weight: 400;
  font-style: normal;
  color: $color-light;
  text-align: center;
  display: block;
}

h2 {
  font-family: "hooligan", candara, calibri, sans-serif;
  line-height: 1.2;
  font-size: 4em;
  font-weight: 400;
  font-style: normal;
  color: $color-light;
  text-align: center;
}

h3 {
  font-family: "hooligan", candara, calibri, sans-serif;
  line-height: 1.6;
  font-size: 3em;
  font-weight: 400;
  font-style: normal;
  color: $color-light;
}

h4 {
  font-family: "hooligan", candara, calibri, sans-serif;
  line-height: 1.3;
  font-size: 5.3em;
  font-weight: 600;
  font-style: normal;
  margin: 0 auto;
  color: $color-dark;

}

h5 {
font-family: "freight-micro-pro", rockwell, serif;
font-size: 1.6em;
font-weight: 300;
line-height: 1.6;
font-style: normal;
color: $color-light;
}

 p, ul {
  @include p-font;
 }


a {
color: $color-light;
text-decoration: none; 
transition: 200ms color ease;
  &:hover {
  color: lighten($primary-color-3, 10%);
  }
}


