
.recipe-intro {
overflow:hidden;
background-color: lighten($primary-color-2, 20%);
border-bottom: 5px dotted $color-dark;
background-clip: padding-box;


	h1{
	color: $primary-color-1;
	margin: 50px 0;
	}

	.h2-wrapper {
		max-width: 300px;
	}
	
	h5 {
	color: $primary-color-3;
	}

	ul {
	margin-top: -25px;
	text-align: center;
	}
	
	li {
	margin-top: 10px;
	}

	input {
	@include input-style(120px, 35px);
	font-size: 16px;
	padding: 10px;
	border: 1px solid #999;
	}
}


.featuredrecipe-photo {
background-image:url(../assets/featuredrecipe.jpg);
background-repeat: no-repeat;
min-height: 300px;
width: 100%;
border-radius: 10px;
}

.recipe-btn {
@include global-button-style ($color-light, $primary-color-3);
padding-top: 20px;
padding-bottom: 20px; 
}
	
.recipe-nav {
display: none;
}


.recipe-box {
	margin: 0 auto;
	max-width: 240px;

	h4 {
	margin: 30px 0;
	text-align: center;
	}

	.overlay {
	height: 200px;
	max-width: 200px;
	}

	.h2-wrapper {
	@include header-wrapper ($primary-color-1, 150px);
	top: -25px;

		h5 {
			text-align: center;
		}
	}
}

.recipe-box-wrapper:first-of-type {
margin-top: 0;
}


.app1, .bev1, .bfast1, .lunch1, .dinner1, .dessert1, .app2, .app3, .bev2, .bev3, .bfast2, .bfast3, .lunch2, .lunch3, .dinner2, .dinner3, .dessert2, .dessert3  {
display: block;
width: 100%;
max-width: 200px;
min-height:280px;
border-radius: 10px;
background-repeat: no-repeat;
}

.app1 {
background:url(../assets/recipes/app1.jpg) no-repeat;
}

.app2 {
background:url(../assets/recipes/app2.jpg) no-repeat;
}

.app3 {
background:url(../assets/recipes/app3.jpg) no-repeat;
}

.bev1 {
background:url(../assets/recipes/bev1.jpg) no-repeat;
}

.bev2 {
background:url(../assets/recipes/bev2.jpg) no-repeat;
}

.bev3 {
background:url(../assets/recipes/bev3.jpg) no-repeat;
}

.bfast1 {
background:url(../assets/recipes/bfast1.jpg) no-repeat;
}

.bfast2 {
background:url(../assets/recipes/bfast2.jpg) no-repeat;
}

.bfast3 {
background:url(../assets/recipes/bfast3.jpg) no-repeat;
}

.lunch1 {
background:url(../assets/recipes/lunch1.jpg) no-repeat;
}

.lunch2 {
background:url(../assets/recipes/lunch2.jpg) no-repeat;
}

.lunch3 {
background:url(../assets/recipes/lunch3.jpg) no-repeat;
}

.dinner1 {
background:url(../assets/recipes/dinner1.jpg) no-repeat;
}

.dinner2 {
background:url(../assets/recipes/dinner2.jpg) no-repeat;
}

.dinner3 {
background:url(../assets/recipes/dinner3.jpg) no-repeat;
}

.dessert1 {
background:url(../assets/recipes/dessert1.jpg) no-repeat;
}

.dessert2 {
background:url(../assets/recipes/dessert2.jpg) no-repeat;
}

.dessert3 {
background:url(../assets/recipes/dessert3.jpg) no-repeat;
}

.app2, .app3, .bev2, .bev3, .bfast2, .bfast3, .lunch2, .lunch3, .dinner2, .dinner3, .dessert2, .dessert3  {
	display: none;
}