.story {
	padding: 50px 0;
	max-width: 550px;
	margin: 0 auto;
}

.story-header {
	@include header-wrapper ($primary-color-3);
	bottom: -25px;
	max-width: 180px;
	z-index: 1;
}

.story-photo {	
	img {	
	width: 100%;
	}
}
.story-copy p { 
	margin-top: 30px;
}

.story-value {
	clear: both;
	@include div-bg($primary-color-2);
	background-color: lighten($primary-color-2, 10%);
	padding: 50px 0;


	p, ul {
	margin-bottom: 30px;
	}

	li {
	font-size: 18px;
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 20px;
	}
	
	li:first-of-type, li:last-of-type {
	list-style-type: none;
	margin-left: 0;
	font-size: 19px;
	}
	li:first-of-type {
	margin-bottom: 10px;
	}
	li:last-of-type {
	margin-top: 30px;
	}
}


.y1960s, .y1990s {
	@include button-style($color-dark, $primary-color-2);
}

.y1970s, .y2000s {
	@include button-style($color-light, $primary-color-1);
}

.y1980s, .y2010s {
	@include button-style($color-dark, $primary-color-3);
}

.y1960s, .y1970s, .y1980s, .y1990s, .y2000s, .y2010s {
	width: 100%;
	text-align: left;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 7.5%;
	border-radius: 0;
	font-size: 3em;
}

.content-1960s {
	display: none;

		img { 
		border: $primary-color-3 solid 1px;
		float: left;
		margin-right: 2%;
		margin-bottom: 20px;
		display: inline-block;
		}
		
		img:first-of-type {
			margin-left: 0;
		}

		h3 {
			@include h3-font($color-dark);
			margin-top: 30px;
			clear: left;
		}

		p {
			margin-bottom: 30px;
			clear: left;
		}	
	}