
.story {

	.highlight-header {
	@include header-wrapper ($primary-color-1, 200px);
	top: -50px;
	}
	
	h1 {
	font-size: 50px;
	}

	.highlight-photo img {	
	width: 100%;
	max-width: 600px;
	
		&:nth-of-type(2){ 
		display: none;
		}
	}

	span {
	font-size: 45px;
	font-weight: 100;
	margin-bottom: 30px;
	color: $primary-color-3;
	}

	p:nth-of-type(2) {
	margin-top: 30px;
	}
}	

.story-value {
	margin: 30px 0;

	blockquote {
	@include blockquote-style;
	clear: both;
	}

	p {
	margin-top: 30px;
	}

	li {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 20px;
	margin-top: 15px;
	}

}

.timeline {
margin-top: 50px;
border-top: 3px dotted $color-dark;

	h4 {
	max-width: 200px;
	margin: 50px 0;
	}
}

.tl-btn {
text-transform: none;
}

.y1960s, .y1990s {
@include global-button-style($color-dark, $primary-color-2);
}

.y1970s, .y2000s {
@include global-button-style($color-light, $primary-color-1);
}

.y1980s, .y2010s {
@include global-button-style($color-dark, $primary-color-3);
}

.y1960s, .y1970s, .y1980s, .y1990s, .y2000s, .y2010s {
width: 100%;
text-align: left;
padding-top: 25px;
padding-bottom: 25px;
padding-left: 7.5%;
border-radius: 0;
font-size: 3em;
}

.content-1960s {
display: none;

	h4 {
	color: $primary-color-3;
	max-width: 400px;
	margin-bottom: 30px;
	}

	img { 
	border: $primary-color-3 solid 1px;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	display: inline-block;
	}

	img:first-of-type {
	margin-left: 0;
	}

	h3 {
	color: $color-dark;
	margin-top: 30px;
	clear: left;
	}

	p {
	margin-bottom: 30px;
	}	
}