/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, header, nav, section, article, aside, footer, figure, button, img, hr, a, li {
  position: relative; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden; }

h1 {
  font-family: "hooligan" "arial-black" "arial" "sans-serif";
  line-height: 1.3;
  font-size: 5em;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-align: center;
  display: block; }

h2 {
  font-family: "hooligan" "arial-black" "arial" "sans-serif";
  line-height: 1.6;
  letter-spacing: 2;
  font-size: 4em;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-align: center; }

h3 {
  font-family: "hooligan" "arial-black" "arial" "sans-serif";
  line-height: 1.6;
  font-size: 2.5em;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF; }

h4 {
  font-family: "hooligan" "arial-black" "arial" "sans-serif";
  line-height: 1.6;
  font-size: 4.5em;
  font-weight: 600;
  font-style: normal;
  color: #462D23;
  margin: 30px auto;
  max-width: 600px; }

nav li a {
  font-family: "hooligan" "arial-black" "arial" "sans-serif";
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  display: block; }
  nav li a:hover {
    color: #008d9a;
    text-decoration: none; }

a {
  color: #FFFFFF;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #008d9a; }

/* GLOBAL Header / Nav */
header {
  background-color: #D70B43;
  width: 100%;
  padding: 10px 0; }

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  display: block; }

.logo-med {
  display: none; }

.menu {
  font-family: "freight-micro-pro" "rockwell" "serif";
  padding: 10px;
  font-size: 1.7em;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #462D23;
  display: block;
  outline: none;
  text-decoration: none;
  text-align: center; }
  .menu:hover {
    text-decoration: underline;
    text-decoration-color: #FFFFFF; }

.store-button-1 {
  font-family: "freight-micro-pro" "rockwell" "serif";
  padding: 10px;
  font-size: 1.7em;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #462D23;
  border-radius: 5px;
  background-color: #FAF82A;
  display: block;
  outline: none;
  text-decoration: none;
  text-align: center; }
  .store-button-1:hover {
    text-decoration: underline;
    text-decoration-color: #462D23; }

.menu, .store-button-1 {
  width: 100%;
  text-align: left;
  padding: 10px;
  padding-left: 7.5%;
  border-radius: 0;
  font-size: 2em; }

.store-button-2, .store-zip {
  display: none; }

nav {
  background-color: #462D23; }

nav li {
  font-family: "hooligan" "arial-black" "arial" "sans-serif";
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  display: none; }
  nav li:hover {
    color: #D70B43;
    text-decoration: none; }

/* GLOBAL Index Page */
.mural {
  background-image: url(../assets/mural_small.jpg);
  background-size: cover;
  min-height: 300px; }

.intro {
  background-color: #9d0831;
  padding: 50px 20px;
  margin: 0 auto; }
  .intro p {
    font-family: "freight-micro-pro" "rockwell" "serif";
    line-height: 1.6;
    font-size: 1.9em;
    font-weight: 300;
    font-style: normal;
    max-width: 550px;
    color: #FFFFFF;
    font-size: 23px;
    margin-top: 50px; }

/* GLOBAL Subpages */
.subpage-photo {
  background-color: #fcfb8e;
  width: 100%;
  min-height: 200px; }

.subpage-intro {
  background-color: #008d9a;
  padding: 40px 20px;
  margin: 0 auto;
  overflow: hidden; }
  .subpage-intro p, .subpage-intro ul {
    font-family: "freight-micro-pro" "rockwell" "serif";
    line-height: 1.6;
    font-size: 1.9em;
    font-weight: 300;
    font-style: normal;
    max-width: 550px;
    color: #FFFFFF;
    margin: 30px auto; }
  .subpage-intro li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 30px; }
  .subpage-intro a {
    font-family: "freight-micro-pro" "rockwell" "serif";
    line-height: 1.6;
    font-size: 1.9em;
    font-weight: 300;
    font-style: normal;
    max-width: 550px;
    color: #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px; }
    .subpage-intro a:hover {
      text-decoration: none;
      color: #008d9a; }

/*Our Story*/
.story {
  padding: 50px 0;
  max-width: 550px;
  margin: 0 auto; }

.story-header {
  background-color: #008d9a;
  margin: 0 auto;
  bottom: -25px;
  padding: 5px 0;
  border-radius: 10px;
  max-width: 180px;
  z-index: 1; }

.story-photo img {
  width: 100%; }

.story-copy p {
  font-family: "freight-micro-pro" "rockwell" "serif";
  line-height: 1.6;
  font-size: 1.9em;
  font-weight: 300;
  font-style: normal;
  max-width: 550px;
  color: #462D23;
  margin-top: 30px; }

.story-value {
  clear: both;
  background-color: #FAF82A;
  width: 100%;
  background-color: #fbfa5c;
  padding: 50px 0; }
  .story-value p, .story-value ul {
    font-family: "freight-micro-pro" "rockwell" "serif";
    line-height: 1.6;
    font-size: 1.9em;
    font-weight: 300;
    font-style: normal;
    max-width: 550px;
    color: #462D23;
    margin-bottom: 30px; }
  .story-value li {
    font-size: 18px;
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 20px; }
  .story-value li:first-of-type, .story-value li:last-of-type {
    list-style-type: none;
    margin-left: 0;
    font-size: 19px; }
  .story-value li:first-of-type {
    margin-bottom: 10px; }
  .story-value li:last-of-type {
    margin-top: 30px; }

.y1960s, .y1990s {
  font-family: "freight-micro-pro" "rockwell" "serif";
  padding: 10px;
  font-size: 1.7em;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #462D23;
  border-radius: 5px;
  background-color: #FAF82A;
  display: block;
  outline: none;
  text-decoration: none;
  text-align: center; }
  .y1960s:hover, .y1990s:hover {
    text-decoration: underline;
    text-decoration-color: #462D23; }

.y1970s, .y2000s {
  font-family: "freight-micro-pro" "rockwell" "serif";
  padding: 10px;
  font-size: 1.7em;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #D70B43;
  display: block;
  outline: none;
  text-decoration: none;
  text-align: center; }
  .y1970s:hover, .y2000s:hover {
    text-decoration: underline;
    text-decoration-color: #FFFFFF; }

.y1980s, .y2010s {
  font-family: "freight-micro-pro" "rockwell" "serif";
  padding: 10px;
  font-size: 1.7em;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #462D23;
  border-radius: 5px;
  background-color: #008d9a;
  display: block;
  outline: none;
  text-decoration: none;
  text-align: center; }
  .y1980s:hover, .y2010s:hover {
    text-decoration: underline;
    text-decoration-color: #462D23; }

.y1960s, .y1970s, .y1980s, .y1990s, .y2000s, .y2010s {
  width: 100%;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 7.5%;
  border-radius: 0;
  font-size: 3em; }

.content-1960s {
  display: none; }
  .content-1960s img {
    border: #008d9a solid 1px;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
    display: inline-block; }
  .content-1960s img:first-of-type {
    margin-left: 0; }
  .content-1960s h3 {
    font-family: "hooligan" "arial-black" "arial" "sans-serif";
    line-height: 1.6;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    color: #462D23;
    margin-top: 30px;
    clear: left; }
  .content-1960s p {
    font-family: "freight-micro-pro" "rockwell" "serif";
    line-height: 1.6;
    font-size: 1.9em;
    font-weight: 300;
    font-style: normal;
    max-width: 550px;
    color: #462D23;
    margin-bottom: 30px;
    clear: left; }

/*Our Culture*/
/* GLOBAL Boxes */
.h2-wrapper {
  background-color: #D70B43;
  padding: 5px 0;
  border-radius: 10px;
  top: -50px;
  margin: 0 auto;
  max-width: 230px; }

.h2-wrapper.double {
  top: -100px; }

.box {
  height: 300px;
  background-color: #462D23;
  margin: 0 auto;
  display: block;
  max-width: 300px;
  width: 100%; }

.box-wrapper {
  width: 100%; }

.box-wrapper:first-of-type {
  margin-top: 50px; }

/* GLOBAL Footer */
footer {
  clear: both;
  background-color: #462D23;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px; }
  footer button {
    font-family: "freight-micro-pro" "rockwell" "serif";
    padding: 10px;
    font-size: 1.7em;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    color: #462D23;
    border-radius: 5px;
    background-color: #FAF82A;
    display: block;
    outline: none;
    text-decoration: none;
    text-align: center;
    margin-top: 20px; }
    footer button:hover {
      text-decoration: underline;
      text-decoration-color: #462D23; }

.footer-copy {
  margin-top: 40px;
  margin-bottom: 40px; }
  .footer-copy li {
    font-family: "freight-micro-pro" "rockwell" "serif";
    line-height: 1.6;
    font-size: 1.9em;
    font-weight: 300;
    font-style: normal;
    max-width: 550px;
    color: #FFFFFF;
    font-size: 1.8em;
    list-style-type: none; }

.newsletter input.email {
  outline: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-family: "freight-micro-pro" "rockwell" "serif";
  line-height: 1.6;
  font-size: 1.9em;
  font-weight: 300;
  font-style: normal;
  max-width: 550px;
  color: #999999;
  margin-top: 20px; }

.newsletter input.zip {
  outline: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-family: "freight-micro-pro" "rockwell" "serif";
  line-height: 1.6;
  font-size: 1.9em;
  font-weight: 300;
  font-style: normal;
  max-width: 550px;
  color: #999999;
  margin-top: 20px;
  margin-right: 20px;
  display: block; }

.newsletter button {
  display: inline-block; }

@media screen and (min-width: 38em) {
  /* 38em Header/Nav */
  .logo-small {
    display: none; }

  .logo-med {
    display: block; }

  .store-button-1, .menu {
    display: none; }

  .store {
    float: right; }
    .store input {
      outline: none;
      border-radius: 5px;
      width: 150px;
      height: 40px;
      font-family: "freight-micro-pro" "rockwell" "serif";
      line-height: 1.6;
      font-size: 1.9em;
      font-weight: 300;
      font-style: normal;
      max-width: 550px;
      color: #999999; }

  .store-button-2 {
    font-family: "freight-micro-pro" "rockwell" "serif";
    padding: 10px;
    font-size: 1.7em;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    color: #462D23;
    border-radius: 5px;
    background-color: #FAF82A;
    display: block;
    outline: none;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    display: inline-block; }
    .store-button-2:hover {
      text-decoration: underline;
      text-decoration-color: #462D23; }

  nav li {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px; }

  nav li:first-of-type {
    margin-left: 0; }

  .mural {
    background-image: url(../assets/mural_medium.jpg);
    min-height: 450px; }

  /* 38em Intro */
  h4 {
    margin: 0 auto 70px auto;
    max-width: 400px; }

  .intro {
    top: -100px;
    border-radius: 10px;
    max-width: 570px;
    padding: 30px 10px 50px 10px; }

  /* 38em Story */
  .story-header {
    margin-left: 5%; }

  .story-photo img {
    max-width: 480px; }

  .story-value h4 {
    margin: 0 0 30px 0; }

  .subpage-intro {
    top: -50px;
    border-radius: 10px;
    padding: 20px;
    max-width: 550px; }

  .timeline-buttons {
    display: none; }

  .timeline {
    float: right;
    width: 70%;
    margin-left: 5%;
    padding: 50px 0; }
    .timeline h4 {
      margin: 0 0 30px 0; }

  .content-1960s {
    display: block; }
    .content-1960s h4 {
      margin: 0 0 30px 0;
      color: #008d9a; }

  /* 38em Boxes */
  .box-wrapper {
    width: 46%;
    float: left;
    margin-left: 6%; }

  .box-wrapper:first-of-type {
    margin-top: 0; }

  .box-wrapper:nth-of-type(odd) {
    margin-left: 0; }

  /* 38em Footer */
  .footer-copy {
    width: 48%;
    float: left;
    margin-left: 4%; }

  .footer-copy:nth-of-type(odd) {
    margin-left: 0; }

  .newsletter input.zip {
    display: inline-block; } }
@media screen and (min-width: 60em) {
  /* 60em Header/Nav */
  .logo-small {
    display: none; }

  .store-zip {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px; }

  nav li {
    margin-left: 60px; }

  .mural {
    background-image: url(../assets/mural_large.jpg);
    min-height: 550px; }

  /* 60em Story */
  .story {
    max-width: 1000px; }

  .story-photo {
    width: 45%;
    float: left;
    max-height: 400px; }

  .story-copy {
    width: 50%;
    margin-left: 5%;
    float: left;
    margin-top: 35px; }

  .story-value p {
    width: 45%;
    float: left; }

  .story-value ul {
    width: 50%;
    float: left;
    margin-left: 5%; }

  /* 60em Boxes */
  .box-wrapper {
    width: 32%;
    float: left;
    margin-left: 2%; }

  .box-wrapper:nth-of-type(odd) {
    margin-left: 2%; }

  .box-wrapper:nth-of-type(3n+1) {
    margin-left: 0; }

  /* 60em Footer */
  .footer-copy {
    width: 23.5%;
    float: left;
    margin-left: 2%; }

  .footer-copy:nth-of-type(odd) {
    margin-left: 2%; }

  .footer-copy:nth-of-type(1) {
    margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
