@import 'reset';
@import 'var-and-mixins';
@import 'presets';

/*
  ========================================
  GLOBAL Header / Nav
  ========================================
*/

header {
@include div-bg($primary-color-1);
padding: 20px 0;
}

.logo {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left; 
	display: block;
}

.logo-med {
	margin-top: 20px;
	margin-bottom: 20px;
	display:none;
	float: left; 
}

.logo-large {
	margin-top: 20px;
	margin-bottom: 20px;
	display:none;
	float: left; 
}

.store-button {
	@include button-style($color-dark, $primary-color-2);
	float: right;
	display: inline-block;
}

.store-zip {
	display: none;
}


nav {
	background-color: $color-dark;
}

.menu {
	@include button-style($color-light, $color-dark);
	width: 100%;
	text-align: left;
	padding: 20px;
	border-radius: 0;
	font-size: 2em;
}

nav li {
	@include nav-link-style($color-light, $primary-color-1);
	display: none;
}



/*
  ========================================
  GLOBAL Intro
  ========================================
*/

.mural-large {
	display:none;
} 


.intro {
	background-color: $primary-color-1;
	padding: 40px 10px;
	margin: 0 auto;

p {		
	margin-top: 50px;
	font-weight: 400;
	max-width: 550px;
	}
}

/*
  ========================================
  GLOBAL Box
  ========================================
*/

.h2-wrapper {
	background-color: $primary-color-1;
	padding: 5px 0;
	border-radius: 10px;
	top: -50px;
	margin: 0 auto;
	max-width: 250px;

}

.index-box {
	width: 270px;
	height: 300px;
	background-color: $color-dark;
	margin: 0 auto;
	display: block;
}

.box-wrapper {

}


/*
  ========================================
  GLOBAL Footer
  ========================================
*/

footer {
	@include div-bg($color-dark);
	padding-top: 100px;
	padding-bottom: 100px;
	
	button {
		@include button-style ($color-dark, $primary-color-2);
		margin-top: 20px;
	}

}

.footer-copy {
	margin-top: 40px;
	margin-bottom: 40px;
}

.newsletter input.email {
	@include input-style(200px, 40px);
	margin-top: 20px;
}

.newsletter input.zip {
	@include input-style(100px, 40px);
	margin-top: 20px; 
	margin-right: 20px; 
}

.newsletter button {
	display: inline-block;
}
@import 'media-queries';
