/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, header, nav, section, article, aside, footer, figure, button, img, hr, a, li {
  position: relative; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden; }

h1 {
  font-family: "hooligan" "candara" "calibri" "sans-serif";
  line-height: 1.3;
  font-size: 6.5em;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-align: center;
  display: block; }

h2 {
  font-family: "hooligan" "candara" "calibri" "sans-serif";
  line-height: 1.3;
  letter-spacing: 2;
  font-size: 4em;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-align: center; }

h3 {
  font-family: "hooligan" "candara" "calibri" "sans-serif";
  line-height: 1.6;
  font-size: 3em;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF; }

h4 {
  font-family: "hooligan" "candara" "calibri" "sans-serif";
  line-height: 1.3;
  font-size: 5.5em;
  font-weight: 600;
  font-style: normal;
  margin: 0 auto;
  color: #462D23; }

p, ul {
  font-family: "freight-micro-pro" "rockwell" "serif";
  line-height: 1.6;
  font-size: 1.9em;
  font-weight: 400;
  font-style: normal;
  max-width: 550px;
  color: #462D23; }

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 200ms color ease; }
  a:hover {
    color: #00bccd; }

header {
  background-color: #D60D34;
  width: 100%;
  padding: 10px 0; }

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  display: block; }

.menu {
  font-family: "freight-micro-pro" "rockwell" "serif";
  font-size: 1.4em;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  padding: 14px;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #462D23;
  outline: none; }
  .menu:hover {
    background-color: #241712; }

.store-button-small {
  font-family: "freight-micro-pro" "rockwell" "serif";
  font-size: 1.4em;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  padding: 14px;
  color: #462D23;
  border-radius: 10px;
  background-color: #fbf943;
  outline: none; }
  .store-button-small:hover {
    background-color: #faf711; }

.store-button-large {
  font-family: "freight-micro-pro" "rockwell" "serif";
  font-weight: 300;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: transparent;
  border: #FFFFFF solid 2px;
  outline: none;
  transition: 200ms ease color, 200ms ease border; }
  .store-button-large:hover {
    color: #faf711;
    border: #faf711 solid 2px; }

.menu, .store-button-small {
  width: 100%;
  text-align: left;
  padding: 15px;
  padding-left: 7.5%;
  border-radius: 0; }

.store-button-large, .store-zip {
  display: none; }

nav {
  background-color: #462D23; }

nav li {
  font-family: "hooligan" "candara" "calibri" "sans-serif";
  font-size: 30px;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
  display: none; }

footer {
  clear: both;
  background-color: #462D23;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px; }
  footer button {
    font-family: "freight-micro-pro" "rockwell" "serif";
    font-weight: 300;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    border: #FFFFFF solid 2px;
    outline: none;
    transition: 200ms ease color, 200ms ease border;
    margin-top: 20px; }
    footer button:hover {
      color: #faf711;
      border: #faf711 solid 2px; }

.footer-copy {
  margin-top: 40px;
  margin-bottom: 40px; }
  .footer-copy li {
    font-size: 18px;
    list-style-type: none; }

.newsletter input.email {
  font-family: "freight-micro-pro" "rockwell" "serif";
  padding: 5px;
  padding-left: 10px;
  font-size: 1.4em;
  font-weight: 400;
  outline: none;
  border-radius: 5px;
  color: #999999;
  border: none;
  width: 180px;
  height: 40px;
  margin-top: 20px; }

.newsletter input.zip {
  font-family: "freight-micro-pro" "rockwell" "serif";
  padding: 5px;
  padding-left: 10px;
  font-size: 1.4em;
  font-weight: 400;
  outline: none;
  border-radius: 5px;
  color: #999999;
  border: none;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  display: block; }

.newsletter button {
  display: inline-block; }

/* GLOBAL Index Page */
.fullwidth-photo {
  background-image: url(../assets/mural_small.jpg);
  background-size: cover;
  min-height: 280px; }

.intro {
  background-color: #a60a28;
  padding: 50px 20px;
  margin: 0 auto; }
  .intro p {
    color: #FFFFFF;
    font-size: 21px;
    margin-top: 50px; }

.index-box {
  margin: 0 auto;
  max-width: 380px; }
  .index-box h4 {
    max-width: 434px;
    margin: 50px auto; }

.box-wrapper:first-of-type {
  margin-top: 50px; }

.announcements, .flyer, .whatsnew, .events, .recipes, .holidays, .productstories, .guides, .lists {
  display: block;
  width: 100%;
  max-width: 300px;
  min-height: 460px;
  border-radius: 10px;
  background-repeat: no-repeat; }

.overlay {
  width: 100%;
  height: 300px;
  max-width: 300px;
  background: transparent;
  border-radius: 10px;
  border: 3px solid #999;
  transition: background 200ms ease; }

.announcements {
  background: url(../assets/dec-fearless-flyer.jpg) no-repeat; }

.whatsnew {
  background: url(../assets/cheese.jpg) no-repeat; }

.flyer {
  background: url(../assets/dec-fearless-flyer.jpg) no-repeat; }

.events {
  background: url(../assets/eventsandcontests2.jpg) no-repeat; }

.recipes {
  background: url(../assets/recipes.jpg) no-repeat; }

.holidays {
  background: url(../assets/crostini-rootini-bar.jpg) no-repeat; }

.productstories {
  background: url(../assets/productstories.jpg) no-repeat; }

.guides {
  background: url(../assets/build-a-better-snack.jpg) no-repeat; }

.lists {
  background: url(../assets/guide-to-fruits-and-veggies.jpg) no-repeat; }

.h2-wrapper {
  background-color: #D60D34;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #a60a28;
  top: -50px;
  transition: border 200ms ease, background 200ms ease; }
  .h2-wrapper h2 {
    font-size: 37px;
    transition: color 400ms ease; }

.h2-wrapper.double {
  top: -100px; }

.box-wrapper:hover .h2-wrapper {
  background-color: #FFFFFF;
  border: 3px solid #D60D34; }
.box-wrapper:hover h2 {
  color: #D60D34; }
.box-wrapper:hover .overlay {
  background: rgba(166, 10, 40, 0.4); }

.story .highlight-header {
  background-color: #D60D34;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  top: -50px; }
.story h1 {
  font-size: 50px; }
.story .highlight-photo img {
  width: 100%;
  max-width: 600px; }
  .story .highlight-photo img:nth-of-type(2) {
    display: none; }
.story span {
  font-size: 45px;
  font-weight: 100;
  margin-bottom: 30px;
  color: #008d9a; }
.story p:nth-of-type(2) {
  margin-top: 30px; }

.story-value {
  margin: 30px 0; }
  .story-value blockquote {
    font-family: "freight-micro-pro" "rockwell" "serif";
    font-size: 30px;
    font-weight: 400;
    line-height: 1.6;
    color: #008d9a;
    margin: 30px 0;
    display: block;
    clear: both; }
  .story-value p {
    margin-top: 30px; }
  .story-value li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 20px;
    margin-top: 15px; }

.timeline {
  margin-top: 50px;
  border-top: 3px dotted #462D23; }
  .timeline h4 {
    max-width: 200px;
    margin: 50px 0; }

.tl-btn {
  text-transform: none; }

.y1960s, .y1990s {
  font-family: "freight-micro-pro" "rockwell" "serif";
  font-size: 1.4em;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  padding: 14px;
  color: #462D23;
  border-radius: 10px;
  background-color: #fbf943;
  outline: none; }
  .y1960s:hover, .y1990s:hover {
    background-color: #faf711; }

.y1970s, .y2000s {
  font-family: "freight-micro-pro" "rockwell" "serif";
  font-size: 1.4em;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  padding: 14px;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #D60D34;
  outline: none; }
  .y1970s:hover, .y2000s:hover {
    background-color: #a60a28; }

.y1980s, .y2010s {
  font-family: "freight-micro-pro" "rockwell" "serif";
  font-size: 1.4em;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  padding: 14px;
  color: #462D23;
  border-radius: 10px;
  background-color: #008d9a;
  outline: none; }
  .y1980s:hover, .y2010s:hover {
    background-color: #005e67; }

.y1960s, .y1970s, .y1980s, .y1990s, .y2000s, .y2010s {
  width: 100%;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 7.5%;
  border-radius: 0;
  font-size: 3em; }

.content-1960s {
  display: none; }
  .content-1960s h4 {
    color: #008d9a;
    max-width: 400px;
    margin-bottom: 30px; }
  .content-1960s img {
    border: #008d9a solid 1px;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
    display: inline-block; }
  .content-1960s img:first-of-type {
    margin-left: 0; }
  .content-1960s h3 {
    color: #462D23;
    margin-top: 30px;
    clear: left; }
  .content-1960s p {
    margin-bottom: 30px; }

.culture-h1 {
  background-color: #008d9a;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  top: -50px; }

.culture-intro p {
  margin: 0 auto 30px auto; }

.events, .holidays, .guides {
  min-height: 350px; }

.culture-copy {
  max-height: 350px;
  overflow: hidden; }
  .culture-copy h4 {
    margin-bottom: 30px; }
  .culture-copy:last-of-type {
    margin-bottom: 50px; }

/* Box, h2-wrapper, and double are styled in index.scss page */
.newfood {
  margin: 0 auto;
  margin-bottom: 100px; }
  .newfood .highlight-photo {
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto; }
    .newfood .highlight-photo img {
      width: 100%;
      max-width: 300px; }
  .newfood h1 {
    color: #462D23;
    margin: 30px auto 0 auto;
    font-size: 40px;
    text-align: left; }
  .newfood h3 {
    font-family: "freight-micro-pro" "rockwell" "serif";
    color: #D60D34;
    margin: 30px auto;
    text-align: center;
    font-size: 60px; }
  .newfood h4 {
    max-width: 400px;
    font-size: 35px;
    margin-bottom: 30px; }
  .newfood p {
    margin: 0 auto; }
  .newfood a {
    color: #462D23; }
    .newfood a:hover {
      color: #D60D34; }

.food {
  border-top: dotted #462D23 3px;
  border-bottom: dotted #462D23 3px;
  background-color: #fdfca7;
  padding: 50px 0;
  margin: 0 auto;
  overflow: hidden; }
  .food h4 {
    max-width: 200px;
    margin-bottom: 30px;
    color: #008d9a; }
  .food p {
    color: #462D23;
    margin: 0 auto; }
  .food a {
    color: #462D23;
    text-decoration: underline; }
    .food a:hover {
      color: #D60D34; }

.labels {
  margin-top: 50px; }

.tj-label {
  display: block;
  margin-bottom: 20px;
  width: 30%;
  margin-left: 3.3333%;
  float: left;
  text-align: center;
  font-family: "freight-micro-pro" "rockwell" "serif";
  line-height: 1.6;
  font-size: 1.9em;
  font-weight: 400;
  font-style: normal;
  max-width: 550px;
  color: #462D23; }

.tj-label:nth-of-type(3n+1) {
  margin-left: 0; }

.food-box {
  margin: 0 auto;
  max-width: 380px; }
  .food-box h4 {
    max-width: 344px;
    margin: 100px auto; }

.recipe-feature h4 {
  max-width: 200px;
  margin: 0 0 50px 0; }
.recipe-feature .highlight-header {
  max-width: 250px; }
  .recipe-feature .highlight-header h1 {
    font-size: 37px; }

@media screen and (min-width: 38em) {
  /* 38em Header/Nav */
  .logo {
    margin-top: 20px; }

  .store-button-small, .menu {
    display: none; }

  .store {
    float: right; }

  .store-button-large {
    font-family: "freight-micro-pro" "rockwell" "serif";
    font-weight: 300;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    border: #FFFFFF solid 2px;
    outline: none;
    transition: 200ms ease color, 200ms ease border;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block; }
    .store-button-large:hover {
      color: #faf711;
      border: #faf711 solid 2px; }

  nav ul {
    max-width: 600px; }

  nav li {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 40px; }

  nav li:first-of-type {
    margin-left: 0; }

  /* 38em full width photos */
  .fullwidth-photo {
    background-image: url(../assets/mural_medium.jpg);
    min-height: 360px;
    border-bottom: 20px solid #008d9a; }

  .intro {
    top: -100px;
    border-radius: 10px;
    max-width: 570px;
    padding: 30px 10px 50px 10px; }

  .index-box h4 {
    margin: 0 auto 100px auto; }

  /* 38em Boxes */
  .index-box, .food-box {
    max-width: 750px; }

  .box-wrapper {
    width: 46%;
    float: left;
    margin-left: 6%; }

  .box-wrapper:first-of-type {
    margin-top: 0; }

  .box-wrapper:nth-of-type(odd) {
    margin-left: 0; }

  /* 38em Story */
  .story {
    overflow: hidden;
    margin: 60px auto; }
    .story .highlight-photo {
      max-width: 360px;
      margin: 0 auto; }
      .story .highlight-photo img {
        border-radius: 15px; }
        .story .highlight-photo img:nth-of-type(1) {
          display: none; }
        .story .highlight-photo img:nth-of-type(2) {
          display: inline-block; }
    .story .highlight-header {
      max-width: 250px; }
    .story h1 {
      font-size: 65px; }
    .story p {
      margin: 0 auto; }

  .story-value blockquote {
    max-width: 650px;
    margin: 30px auto;
    text-align: center; }
  .story-value p, .story-value ul {
    margin-bottom: 30px;
    margin: 0 auto; }

  .tl-btn {
    display: none; }

  .tl-content {
    float: right;
    width: 70%;
    margin-left: 5%;
    padding: 50px 0; }
    .tl-content h4 {
      margin: 0 0 30px 0; }

  .content-1960s {
    display: block; }

  /* 38em Food */
  .newfood {
    max-width: 700px; }
    .newfood h3 {
      margin: 0 0 50px 0; }
    .newfood .highlight-photo {
      width: 48%;
      float: left;
      margin-left: 2%; }
    .newfood .highlight-photo:nth-of-type(odd) {
      margin-left: 0; }

  /* 38em Culture */
  .culture-box {
    overflow: hidden;
    display: block; }
    .culture-box .box-wrapper {
      display: block;
      width: 45%;
      margin-right: 5%;
      margin-bottom: 0;
      float: left; }
      .culture-box .box-wrapper h2 {
        max-width: 300px; }

  .culture-copy {
    width: 50%;
    float: left;
    margin: 0; }
    .culture-copy h4 {
      margin: 0; }

  /* 38em Recipes */
  .recipe-feature img {
    max-width: 500px; }

  /* 38em Footer */
  .footer-copy {
    width: 48%;
    float: left;
    margin-left: 4%; }

  .footer-copy:nth-of-type(odd) {
    margin-left: 0; }

  .newsletter input.zip {
    display: inline-block; }

  .newsletter button {
    margin-left: 10px; } }
@media screen and (min-width: 60em) {
  /* 60em Header/Nav */
  .logo-small {
    display: none; }

  .store-zip {
    display: inline-block;
    margin: 0 10px 10px 10px; }
    .store-zip input {
      font-family: "freight-micro-pro" "rockwell" "serif";
      padding: 5px;
      padding-left: 10px;
      font-size: 1.4em;
      font-weight: 400;
      outline: none;
      border-radius: 5px;
      color: #999999;
      border: none;
      width: 100px;
      height: 38px; }

  nav li {
    margin-left: 60px; }

  /* 60em full width photos */
  .fullwidth-photo {
    background-image: url(../assets/mural_large.jpg);
    min-height: 550px; }

  /* 60em Boxes */
  .index-box, .food-box {
    max-width: 1200px; }

  .box-wrapper {
    width: 32%;
    float: left;
    margin-left: 2%; }

  .box-wrapper:nth-of-type(odd) {
    margin-left: 2%; }

  .box-wrapper:nth-of-type(3n+1) {
    margin-left: 0; }

  .h2-wrapper {
    background-color: #D60D34;
    max-width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #a60a28; }
    .h2-wrapper h2 {
      font-size: 40px; }

  /* 60em Story */
  .story {
    margin-bottom: 0; }
    .story .split:nth-of-type(1) {
      width: 40%;
      float: left;
      margin-left: 5%; }
    .story .split:nth-of-type(2) {
      width: 40%;
      float: left;
      margin-right: 5%;
      margin-left: 2.5%; }
    .story .container {
      display: inline-block;
      width: 100%;
      margin: 0;
      overflow: hidden; }

  .story-value {
    margin: 0; }
    .story-value h4 {
      margin-top: 50px; }
    .story-value p, .story-value ul {
      margin: 0 0 30px 0; }
    .story-value blockquote {
      max-width: none; }
    .story-value .split {
      float: left;
      width: 48%; }
      .story-value .split:nth-of-type(2) {
        margin-left: 2%; }

  /* 60em Culture */
  .culture-intro p {
    margin: 0 0 30px 0; }

  .culture-h1 {
    margin-top: 30px;
    margin-left: 7.5%; }

  .culture-box .box-wrapper {
    width: 30%; }
  .culture-box .culture-copy {
    width: 65%; }

  /* 60em Food */
  .newfood {
    max-width: 1200px; }
    .newfood .highlight-photo {
      width: 23.5%;
      float: left;
      margin-left: 2%; }
    .newfood .highlight-photo:nth-of-type(3) {
      margin-left: 0; }

  .food-intro {
    width: 48%;
    float: left; }
    .food-intro h4 {
      margin: 0 0 30px 0; }

  .labels {
    width: 48%;
    float: left;
    margin-left: 4%; }

  /* 60em Footer */
  .footer-copy {
    width: 23.5%;
    float: left;
    margin-left: 2%; }

  .footer-copy:nth-of-type(odd) {
    margin-left: 2%; }

  .footer-copy:nth-of-type(1) {
    margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
