@import 'reset';
@import 'var-and-mixins';
@import 'presets';

/*
  ========================================
  GLOBAL Header / Nav
  ========================================
*/

header {
@include div-bg($primary-color-1);
padding: 20px 0;
}

.logo {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left; 
	display: block;
}

.logo-med, .logo-large {
	display:none;
}

.store-button-2, .store-zip { 
	display: none;
}

.menu {
	@include button-style($color-light, $color-dark);
	width: 100%;
	text-align: left;
	padding: 20px;
	border-radius: 0;
	font-size: 2.5em;
}

.store-button-1 {
	@include button-style($color-dark, $primary-color-2);
	width: 100%;
	text-align: left;
	padding: 20px;
	border-radius: 0;
	font-size: 2.5em;
}

nav {
	background-color: $color-dark;
}

nav li {
	@include nav-link-style($color-light, $primary-color-1);
	display: none;
}

.mural {
background-image:url(../assets/mural_small.jpg);
background-size: cover;
width: 100%;
min-height: 300px;
}


/*
  ========================================
  GLOBAL Intro
  ========================================
*/


.intro {
	background-color: darken($primary-color-1, 12%);
	padding: 50px 20px;
	margin: 0 auto;

p {	
	@include p-font($color-light);	
	font-size: 23px;
	margin-top: 50px;
	}
}

/*
  ========================================
  GLOBAL Box
  ========================================
*/

h4 {
	margin: 70px auto;
	max-width: 400px;

}

.h2-wrapper {
	background-color: $primary-color-1;
	padding: 5px 0;
	border-radius: 10px;
	top: -50px;
	margin: 0 auto;
	max-width: 230px;

}

.index-box {
	height: 300px;
	background-color: $color-dark;
	margin: 0 auto;
	display: block;
	max-width: 300px;
}

.box-wrapper {
	width: 100%;
}

.box-wrapper:first-of-type {
	margin-top: 50px;
}


/*
  ========================================
  GLOBAL Story
  ========================================
*/

.h1-wrapper {
	background-color: darken($primary-color-1, 12%);
	padding: 40px 20px;
	margin: 0 auto;
	overflow: hidden;
}

.story {
	p, ul {
	@include p-font($color-dark); 
	margin: 50px auto;
	}

	li {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 30px;
	}
}
/*
  ========================================
  GLOBAL Footer
  ========================================
*/

footer {
	@include div-bg($color-dark);
	padding-top: 100px;
	padding-bottom: 100px;
	
	button {
		@include button-style ($color-dark, $primary-color-2);
		margin-top: 20px;
	}

}

.footer-copy {
	margin-top: 40px;
	margin-bottom: 40px;
	
	li {
	@include p-font ($color-light);
	font-size: 1.8em;
	list-style-type: none;
	}

}

.newsletter input.email {
	@include input-style(200px, 40px);
	margin-top: 20px;
}

.newsletter input.zip {
	@include input-style(100px, 40px);
	margin-top: 20px; 
	margin-right: 20px; 
	display: block;
}

.newsletter button {
	display: inline-block;
}

@import 'media-queries';
